In [1]:
import yaml

In [6]:
with open('./config/xgboost_config.yaml')as file:
    config = yaml.full_load(file)

config

{'model_params': {'n_estimators': 100, 'max_features': 'sqrt'},
 'train_params': {'repeat_runs': 100},
 'logging': {'checkpoint_path': './checkpoints'}}

In [17]:
import numpy as np
import pandas as pd

data1 = {'A': [1, 2, 3, 4, 5],
        'B':  [2, 3, 4, 5, 6]}

data2 = {'A': [1, 2, 3, 4, 5],
        'B':  [2, 3, 4, 5, 6]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

display(df1)
display(df2)

   A  B
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

   A  B
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

In [21]:
total = pd.concat([df1, df2], axis=0).reset_index(drop=True)

display(total)

   A  B
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6
5  1  2
6  2  3
7  3  4
8  4  5
9  5  6

In [16]:
df[:2]

   A  B
0  1  2
1  2  3